<ion-view title="{{'companyStats' | translate}}">
	<ion-content scroll='true'>

		<div class="stats-logo-container">
			<div class="stats-container1">
	            <div class="stats-logo item-image">
	                <img src="img/livefair_nobackground_white.png">
	            </div>
	            <div class="stats-company-name">
	            	<strong>{{statsScreen.name}}</strong>
	            </div>
	        </div>
	    </div>

	    <div class="stats-container card">

            <div class="item item-divider item-positive">
                <div class="stats-label">
                    <strong>{{ 'stats' | translate }} </strong>
                </div>
            </div>

			<div class="row">
			  <div class="col col-75 label"><strong> {{ 'matches' | translate }} </strong></div>
			  <p class="col"><strong>:</strong></p>
			  <div class="col col-25 result"><strong>{{matches[1].totalHits}}</strong></div>
			</div>
			<div class="row">
			  <div class="col col-75 label"><strong> {{ 'matchpercentage' | translate }} </strong></div>
			  <p class="col"><strong>:</strong></p>
			  <div class="col col-25 result"><strong>{{matches[2].percentage}}</strong></div>
			</div>
			<div class="row">
			  <div class="col col-75 label"><strong> {{ 'clicks' | translate }} </strong></div>
			  <p class="col"><strong>:</strong></p>
			  <div class="col col-25 result"><strong>{{websiteVisitors}}</strong></div>
			</div>
			<div class="row">
			  <div class="col col-75 label"><strong> {{ 'contactsEstablished' | translate }} </strong></div>
			  <p class="col"><strong>:</strong></p>
			  <div class="col col-25 result"><strong>{{contactsEstablished}}</strong></div>
			</div>
	    </div>


        <div class="stats-popKeywords-container card">

          <div class="item item-divider item-positive">
            <strong> {{ 'popKeywords' | translate }} </strong>
          </div>

          <!--<div  class="">-->

            <div class="row item-text-wrap" ng-repeat="keyword in matches[0]" >
                <div class="col col-75 label"><p><strong> {{keyword.interest}} </strong></p></div>
                <p class="col"><strong>:</strong></p>
                <div class="col col-25 result"><p><strong> {{keyword.count}} </strong></p></div>
            </div>

          <!--</div>-->

        </div>
    
    </ion-content>
</ion-view>