<ion-view title="'CompanyStats'">
	<ion-content scroll='true'>

		<div class="stats-logo-container">
			<div class="stats-container1">
	            <div class="stats-logo item-image">
	                <img src="img/livefair.png"> 
	            </div>
	            <div class="stats-company-name">
	            	<strong>{{statsScreen.name}}</strong>
	            </div>
	            <div class="stats-label">
	            	<strong><span class="ion-stats-bars"></span>  {{ 'stats' | translate }} </strong>
	            </div>
	        </div>
	    </div>

	    <div class="stats-container card">
			<div class="row">
			  <div class="col col-75 label"><strong> {{ 'matches' | translate }} </strong></div>
			  <p class="col"><strong>:</strong></p>
			  <div class="col col-25 result"><strong>{{statsScreen.matches}}</strong></div>
			</div>
			<div class="row">
			  <div class="col col-75 label"><strong> {{ 'matchpercentage' | translate }} </strong></div>
			  <p class="col"><strong>:</strong></p>
			  <div class="col col-25 result"><strong>{{statsScreen.matchPercentage}}</strong></div>
			</div>
			<div class="row">
			  <div class="col col-75 label"><strong> {{ 'clicks' | translate }} </strong></div>
			  <p class="col"><strong>:</strong></p>
			  <div class="col col-25 result"><strong>{{statsScreen.clicks}}</strong></div>
			</div>
			<div class="row">
			  <div class="col col-75 label"><strong> {{ 'contactsEstablished' | translate }} </strong></div>
			  <p class="col"><strong>:</strong></p>
			  <div class="col col-25 result"><strong>{{statsScreen.contatsEstablished}}</strong></div>
			</div>
	    </div>

	    <div class="stats-popKeywords-container">
		    <div class="card">
			  <div class="item item-divider">
			    <p><strong> {{ 'popKeywords' | translate }} </strong></p>
			  </div>
			  <div ng-repeat="keyword in statsScreen.keywords" class="item item-text-wrap">
			  	<div class="row">
					<div class="col col-75"><p><strong>{{keyword.name}}</strong></p></div>
					<p><strong>:</strong></p>
					<div class="col col-25"><p><strong>{{keyword.nmatches}}</strong></p></div>
				</div>
			  </div>
			</div>	    	
	    </div>
    
    </ion-content>
</ion-view>