<ion-view title="'CompanyStats'">
	<ion-content scroll='true'>

		<div class="stats-logo-container">
			<div class="stats-container1">
	            <div class="stats-logo item-image">
	                <img src="img/livefair.png"> 
	            </div>
	            <div class="stats-company-name">
	            	<strong>{{standProfileInfo.name}}</strong>
	            </div>
	            <div class="stats-company-name">
	            	<strong>{{ 'stats' | translate }}</strong>
	            </div>
	        </div>
	    </div>

	    <div class="stats-container">
	    	
	    </div>

    
    </ion-content>
</ion-view>