<ion-view title="'editProfile'">
	<ion-content scroll='true'>

	    <div class="editProfile-img-container" ng-init="validateFields()">
            <img ng-src="{{standProfileInfo.logo}}">
        </div>

        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="form-icon ion-android-contact placeholder-icon {{valName}}"></i>
                    <input type="text" placeholder="{{ 'name' | translate }}" ng-model="standProfileInfo.name" ng-change="validateNameCallback()">
                </label>
            </div>

			<div class="list list-inset">
			    <label class="item item-input">
			        <i class="form-icon ion-email placeholder-icon {{valEmail}}"></i>
			        <input type="email" placeholder="Email" ng-model="standProfileInfo.email" ng-change="validateEmailCallback()">
			    </label>
			</div>

			<div class="list list-inset">
			    <label class="item item-input">
			        <i class="form-icon ion-at placeholder-icon {{valWebsite}}"></i>
			        <input type="text" placeholder="Website" ng-model="standProfileInfo.website" ng-change="validateWebsiteCallback()">
			    </label> 
			</div>

			<div class="list list-inset">
			    <label class="item item-input">
			        <i class="form-icon ion-map placeholder-icon {{valAddress}}"></i>
			        <input type="text" placeholder="{{ 'address' | translate }}" ng-model="standProfileInfo.address" ng-change="validateAddressCallback()">
			    </label>
			</div>

			<div class="list list-inset">
			    <label class="item item-input">
			        <i class="form-icon ion-ios-telephone placeholder-icon {{valPhone}}"></i>
			        <input type="tel" placeholder="{{ 'phone' | translate }}" ng-model="standProfileInfo.phone" ng-change="validatePhoneCallback()">
			    </label>
			</div>

			<div class="list list-inset">
			    <label class="item item-input">
			        <textarea rows="5" cols="50" placeholder="{{ 'aboutus' | translate }}" ng-model="standProfileInfo.description"></textarea>
			    </label>
			</div>
        </div>	

        <div class="editProfile-btnsContainer">
	        <span class="editProfile-photo-btn" ng-click="uploadPhoto()"><i class="fa fa-camera fa-2x"></i></span>
	        <span class="editProfile-password-btn" ng-click="changePassword()"><i class="fa fa-lock fa-2x"></i></span>        	
        </div>

        <div class="fair-btn-Container-1">
            <button nav-clear ng-click="editInterests()" class="myBtn button button-outline button-positive"> <strong> {{ 'editInterests' | translate }} </strong> </button>
        </div>   

        <div class="fair-btn-Container-1">
            <button nav-clear ng-click="saveChanges()" class="myBtn button button-calm"> <strong> {{ 'submit' | translate }} </strong> </button>
        </div>

        <script id="interestsPopup.html" type="text/ng-template">
            <!--<div class="list">-->
                <!--<div class="item item-divider">{{ 'chooseInterests' | translate }}</div>-->
                <!--&lt;!&ndash;<ion-toggle class="item-text-wrap" ng-repeat="item in interestsList" ng-model="item.checked" toggle-class="toggle-calm">{{item.interest}}</ion-toggle>&ndash;&gt;-->
            <!--</div>-->
            <ul class="list">
                <div class="item item-divider" ng-hide="!interestsList.length">{{ 'chooseInterests' | translate }}</div>
                <li class="item item-stable item-placeholder item-text-wrap text-center" ng-hide="interestsList.length">{{ 'noInterests' | translate }}</li>
                <li class="item item-checkbox" ng-repeat="item in interestsList">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    {{item.interest}}
                </li>
            </ul>
        </script>        

    </ion-content>
</ion-view>