<div class="list">
    <div ng-repeat="stand in fairStands">
        <div class="row">
            <a class="item list-inset col col-45" ng-click="loadProfile(stand.companyID)">
                <img no-image ng-src="{{stand.logoImage}}">
                <h2>{{stand.companyName}}</h2>
                <p>{{stand.website}}</p>
            </a>
            <a class="item list-inset col col-45" ng-click="loadProfile(stand.companyID)">
                <img no-image ng-src="{{stand.logoImage}}">
                <h2>{{stand.companyName}}</h2>
                <p>{{stand.website}}</p>
            </a>
        </div>
        <div class="row">
            <a class="item list-inset col col-45" ng-click="loadProfile(stand.companyID)">
                <img no-image ng-src="{{stand.logoImage}}">
                <h2>{{stand.companyName}}</h2>
                <p>{{stand.website}}</p>
            </a>

            <a class="item list-inset col col-45" ng-click="loadProfile(stand.companyID)">
                <img no-image ng-src="{{stand.logoImage}}">
                <h2>{{stand.companyName}}</h2>
                <p>{{stand.website}}</p>
            </a>
        </div>
    </div>
</div>