<ion-view title="{{'fairProfile' | translate}}">
    <ion-content scroll='true'>

        <!-- Content -->
        <div class="fair-container" ng-init="loadFairProfile()">
            <h2 class="fair-title"> {{fair.name}} </h2>
            <!--isto vai sair, ficar numa tab que abre a localizacao-->
            <h4 class="fair-subtitle"> {{ 'em' | translate }} {{fair.local}} </h4>
        </div>

        <div class="fair-tabs-container">
            <div class="buttons-container">
                <button class="button button-calm item-input-wrapper" ng-click="showInfoPage()" ng-class="{active : tabOption === 1}">
                    <strong>{{ 'fairInformation' | translate }}</strong>
                </button>
                <button class="button button-calm item-input-wrapper" ng-click="showPresentStands()" ng-class="{active : tabOption === 2}">
                    <strong>{{ 'presentStands' | translate }}</strong>
                </button>
                <button class="button button-calm item-input-wrapper" ng-click="showSuggestedStands()" ng-class="{active : tabOption === 3}">
                    <strong>{{ 'fairProgram' | translate }}</strong>
                </button>
            </div>
        </div>

        <div class="fair-tabs-container">

            <div class="card information-tab" ng-show="tabOption === 1">

                <div class="info-container item item-divider item-positive">
                    <strong>{{'details' | translate}}</strong>
                </div>
                <div class="info-container item item-text-wrap">
                    <p> <strong> <span class="item-info-desc"> {{ 'date' | translate }}: </span></strong> {{fair.startDate | date:'dd-MM-yyyy'}} {{ 'a' | translate }} {{fair.endDate | date:'dd-MM-yyyy'}} </p>
                    <p> <strong> <span class="item-info-desc"> {{ 'opening' | translate }}: </span></strong> {{fair.startDate | date: 'HH:mm Z'}}</p>
                    <p> <strong> <span class="item-info-desc"> {{ 'address' | translate }}: </span></strong> {{fair.address}} {{fair.city}} </p>
                    <p ng-show="fair.description != null"> <strong> <span class="item-info-desc"> {{ 'description' | translate }}: </span></strong> {{fair.description}} </p>
                </div>


                <div class="fair-map-container item" ng-show="fair.map != null">
                    <img no-image class="fair-map" ng-src="{{fair.map}}"/>
                </div>

            </div>

            <div class="present-stands-tab tab-content" ng-show="tabOption === 2">
                <div class="card" ng-hide="fairStands.length">
                    <div class="item item-positive item-placeholder item-text-wrap text-center">
                        {{ 'noStands' | translate }}
                    </div>
                </div>

                <div class="list">
                    <div ng-repeat="stand in fairStands">
                        <a class="item list-inset item-thumbnail-left" ng-click="loadProfile(stand.companyID)">
                            <img no-image ng-src="{{stand.logoImage}}">
                            <h2>{{stand.companyName}}</h2>
                            <p>{{stand.website}}</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="suggested-stands-tab tab-content" ng-show="tabOption === 3">
                <div class="program-container text-left">
                    <div ng-show="failedToResolve">
                        <br>
                        <div class="card">
                            <div class="item item-assertive item-placeholder item-text-wrap text-center">
                                {{ 'failedToResolve' | translate }}
                            </div>
                        </div>
                    </div>

                    <div class="card" ng-hide="scheduleDays.length || failedToResolve">
                        <div class="item item-positive item-placeholder item-text-wrap text-center">
                            {{ 'noEvents' | translate }}
                        </div>
                    </div>

                    <div class="list" ng-hide="!scheduleDays.length || failedToResolve">
                        <label class="item item-input item-select item-positive">
                            <div class="input-label">
                                {{ 'programDay' | translate }}
                            </div>
                            <select ng-model="selectedDay">
                                <option ng-repeat="day in scheduleDays" value="{{day}}">{{day | date:'dd-MM-yyyy'}}</option>
                            </select>
                        </label>
                        <div ng-repeat = "eventTime in scheduleOrganizedByDay[selectedDay]">
                            <div class="item item-divider item-calm item-borderless">
                                {{eventTime.eventTime | date:'HH:mm'}}
                            </div>
                            <div ng-repeat="event in eventTime.eventTimeEvents">
                                <div class="item item-text-wrap" ng-click="loadEvent(fair.name, event)">
                                    {{event.subject}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <script id="eventPopup.html" type="text/ng-template">
                        <div class="list card">

                            <div class="item item-divider item-text-wrap">
                                <h2>{{liveFairEvent.subject}}</h2>
                            </div>

                            <div class="item item-body">
                                <p>
                                    <strong>{{ 'date' | translate }}:</strong>
                                    <span class="event-info">{{liveFairEvent.startTime | date:'dd-MM-yyyy'}}</span>
                                </p>
                                <p>
                                    <strong>{{ 'starting' | translate }}:</strong>
                                    <span class="event-info">{{liveFairEvent.startTime | date:'HH:mm'}}</span>
                                </p>
                                <p>
                                    <strong>{{ 'ending' | translate }}:</strong>
                                    <span class="event-info">{{liveFairEvent.endTime | date:'HH:mm'}}</span>
                                </p>
                                <p>
                                    <strong>{{ 'place' | translate }}:</strong>
                                <p>{{liveFairEvent.eventLocation}}</p>
                                </p>
                                <p>
                                    <strong>{{ 'speakers' | translate }}:</strong>
                                <p>{{liveFairEvent.speakers}}</p>
                                </p>
                            </div>
                        </div>
                    </script>
                </div>
            </div>

        </div>

        <div class="padding">
            <div ng-show="participating">
                <button nav-clear ng-click="getMatches(fair.liveFairID)" ng-show="userType == 'visitor'" class="item button button-block button-clear button-outline button-positive">
                    {{ 'matches' | translate }}
                </button>
                <button nav-clear ng-show="userType == 'company'" class="item button button-block button-clear button-outline button-positive" ng-click="openStats(fair.liveFairID)">
                    {{ 'stats' | translate }}
                </button>
                <!--<button class="item button button button-block button-outline button-positive" ng-show="userType == 'company'" ng-click="createStandEvent(fair.liveFairID)">-->
                    <!--{{ 'btnAddStandEvent' | translate }}-->
                <!--</button>-->
                <button class="item button button button-block button-outline button-positive" ng-show="userType == 'company'" ng-click="showOwnStandEvents(fair.liveFairID)">
                    {{ 'btnViewOwnStandEvents' | translate }}
                </button>
                <button ng-click="cancelFairSubmition()" class="item button button-block button-positive">
                    {{ 'btnNoAderir' | translate }}
                </button>
            </div>
            <div ng-hide="participating">
                <button ng-click="chooseInterests()" class="item button button-block button-positive">
                    {{ 'btnAderir' | translate }}
                </button>
            </div>
        </div>

        <script id="interestsPopup.html" type="text/ng-template">
            <ul class="list">
                <li class="item item-divider item-text-wrap item-positive" ng-hide="!interestsList.length">{{ 'chooseInterests' | translate }}</li>
                <li class="item item-text-wrap text-center" ng-hide="interestsList.length">{{ 'noInterests' | translate }}</li>
                <li class="item item-checkbox" ng-repeat="item in interestsList">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="item.checked" ng-change="changedCheckbox()">
                    </label>
                    {{item.interest}}
                </li>
            </ul>
        </script>

    </ion-content>
</ion-view>
