<ion-view title="'Home'">
    <ion-content scroll='true'>

        <!-- Template content -->
        <div class="home-container" ng-controller="homeCtrl">
            <h1 class="home-title ion-ios-body"></h1>
            <h1 class="home-title"> Live Fair </h1>

            <div class="padding-top">
                <span class="padding-top center">Utilizador existente?</span>
                <div class="myBtn-Container">
                    <button class="myBtn button button-outline button-positive" ng-click="loadLogin()"> <strong> Entrar </strong> </button>
                </div>
            </div>

            <div class="padding-left">
                <button class="button button-clear button-calm" ng-click="loadRegistration()"> <strong> Registar </strong> </button>
            </div>

        </div>

        <div class="bar-footer bar" style="padding-top: 0px;">
            <button class="button button-block button-stable" ng-click="loadFairListing()"> <strong> Entrar como visitante </strong> </button>
        </div>

    </ion-content>
</ion-view>
