<ion-view title="'Home'">
    <ion-content scroll='true'>

        <!-- Template content -->
        <div class="home-container" ng-controller="homeCtrl">
            <div class="item-image padding-bottom">
                <img style="max-width: 45%" src="img/livefairapp.png">
            </div>
            <br><br>
            <div class="home-existing-user padding-top">
                <span class="center"> {{ 'existingUser' | translate }} </span>
                <div class="myBtn-Container">
                    <button nav-clear ng-click="loadLogin()" class="login-btn button button-outline button-calm"> <strong> {{ 'enter' | translate }} </strong> </button>
                </div>
            </div>

            <div class="home-registerBtn-container">
                <button nav-clear ng-click="loadRegistration()" class="login-btn button button-calm"> <strong> {{ 'register' | translate }} </strong> </button>
            </div>

            <div class="bar-footer bar" style="padding-top: 0px;">
                <button class="button button-block button-stable" ng-click="loadFairListing()"> <strong> {{ 'enterAsVisitor' | translate }} </strong> </button>
            </div>
        </div>

    </ion-content>
</ion-view>
