<ion-view title="'ListFairs'">
    <ion-content scroll='true' ng-init="loadFairs()">


        <div class="fair-container" ng-init="formatMonth()" ng-hide="failedToResolve">
            <div class="searchFairs-logo-container">
                <div class="searchFairs-container1">
                    <div class="searchFairs-logo item-image">
                        <img src="img/livefair.png">
                    </div>
                </div>
            </div>
        </div>

            <div class="fair-list-button-container">
                <button class="button button-light fair-list-button">
                    {{ 'listfairs' | translate}}
                </button>

                <button class="button button-calm button-Recente pull-right fair-list-options-button" ng-click="sortFairsByDate()" ng-class="{active : sortOption === 2}">
                    <strong>{{ 'sortByDate' | translate }}</strong>
                </button>

                <button class="button button-calm button-AZ pull-right fair-list-options-button" ng-click="sortFairsByName()" ng-class="{active : sortOption === 1}">
                    <strong>A-Z</strong>
                </button>

            </div>

            <div class="list list-fair-container" ng-show="listfairs.length && !failedToResolve">

                <div class="item item-text-wrap" ng-repeat="fair in listfairs" ng-click="loadFair(fair.liveFairID)">
                    <div>
                        <p><strong style="color: darkblue;">{{fair.name}}</strong><strong class="positive" style="float: right;">{{fair.startDate | date:'dd/MM'}} - {{fair.endDate | date:'dd/MM/yy'}}</strong></p>

                        <p class="text-right calm"><strong class="calm">address:{{fair.address}}  city:{{fair.city}}</strong></p>

                    </div>

                </div>
            </div>




        <div ng-show="failedToResolve">
            <br><br>
            <div class="card">
                <div class="item item-assertive item-placeholder item-text-wrap text-center">
                    {{ 'failedToResolve' | translate }}
                </div>
            </div>
        </div>

        <div class="card" ng-show="!listfairs.length && !failedToResolve">
            <div class="item item-positive item-placeholder item-text-wrap text-center">
                {{ 'noLiveFairs' | translate }}
            </div>
        </div>


    </ion-content>
</ion-view>
