<ion-view title="'ListFairs'">
    <ion-content scroll='true' ng-init="loadFairs()">


        <div class="fair-container" ng-init="formatMonth()" ng-hide="failedToResolve">
            <div class="searchFairs-logo-container">
                <div class="searchFairs-container1">
                    <div class="searchFairs-logo item-image">
                        <img src="img/livefair.png">
                    </div>
                </div>
            </div>
            <div class="fair-list-button-container">
                <button class="button button-light">
                    {{ 'listfairs' | translate}}
                </button>

                <div class="list-options-container">
                    <button class="button button-small button-calm button-AZ" ng-click="sortFairsByName()" ng-class="{active : sortOption === 1}">
                        A-Z
                    </button>

                    <button class="button button-small button-calm button-Recente" ng-click="sortFairsByDate()" ng-class="{active : sortOption === 2}">
                        {{ 'sortByDate' | translate }}
                    </button>
                </div>
            </div>

            <div class="list list-fair-container" ng-show="listfairs.length && !failedToResolve">

                <div class="item item-text-wrap" ng-repeat="fair in listfairs" ng-click="loadFair(fair.liveFairID)">
                    <div>
                        <p><strong style="color: darkblue;">{{fair.name}}</strong><strong class="positive" style="float: right;">{{fair.date | date:'dd/MM'}} - {{fair.date | date:'dd/MM/yy'}}</strong></p>

                        <p class="text-right calm"><strong class="calm">{{fair.location}}</strong></p>


                    </div>

                </div>
            </div>
        </div>



        <div ng-show="failedToResolve">
            <br><br>
            <div class="card">
                <div class="item item-assertive item-placeholder item-text-wrap text-center">
                    {{ 'failedToResolve' | translate }}
                </div>
            </div>
        </div>

        <div class="card" ng-show="!listfairs.length && !failedToResolve">
            <div class="item item-positive item-placeholder item-text-wrap text-center">
                {{ 'noLiveFairs' | translate }}
            </div>
        </div>


    </ion-content>
</ion-view>
