<ion-view title="'ListFairs'">
    <ion-content scroll='true'>

        <!-- Content -->
        <div class="fair-container">
            <h1 class="fair-title">Lista de Feiras</h1>
        </div>

        <div ng-repeat="fair in listfairs">

            <div class="card">
                <div class="item item-divider" ng-click="loadFair()">
                    <h2> {{fair.name}} </h2>
                </div>
                <div class="item item-text-wrap">
                    <p> <b> Data: </b> de {{fair.startDay}} a {{fair.endDay}} de {{month}} </p>
                    <p> <b> Abertura: </b> {{fair.openingTime}}h </p>
                    <p> <b> Morada: </b> {{fair.address}} </p>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
