<ion-view title="'Login'">
    <ion-content scroll='true'>
        
        <!-- Template content -->
        <div class="login-container" ng-controller="loginCtrl">       
            <h1 class="login-title"> <span class="ion-person"></span> Login </h1>   
            <div class="loginForm">
                <div class="form-list list-insert">
                    <label class="item item-input">
                        <i class="form-icon ion-android-contact placeholder-icon"></i>
                        <input type="text" placeholder="Utilizador" ng-model="username">
                    </label>
                </div>

                <div class="form-list list-insert">
                    <label class="item item-input">
                        <i class="form-icon ion-help-circled placeholder-icon"></i>
                        <input type="password" placeholder="Password" ng-model="password">
                    </label>
                </div>
            </div>

            <div class="myBtn-Container">
                <button nav-clear ng-click="submitLogin()" class="myBtn button button-calm"> <strong> Entrar </strong> </button>
            </div>    
        </div>
        
    </ion-content>
</ion-view>
