<ion-view title="{{'matches' | translate}}">
    <ion-content scroll='true'>
    
        <div class="match-container">
            <h1 class="fair-title">{{ 'matches' | translate }}</h1>
            <h4 class="fair-subtitle"> {{ 'em' | translate }} {{fair.fairName}} </h4>
        </div>
        
        <div class="present-stands-tab tab-content">
            <div class="card" ng-hide="stands.length">
                <div class="item item-positive item-placeholder item-text-wrap text-center">
                    {{ 'noMatchedStands' | translate }}
                </div>
            </div>

            <div class="list">
                <div ng-repeat="stand in stands">
                    <a class="item list-inset item-thumbnail-left" ng-click="loadProfile(stand.companyID)">
                        <img no-image ng-src="{{stand.logoImage}}">
                        <h2>{{stand.companyName}}</h2>
                        <p>{{stand.website}}</p>
                    </a>
                </div>
            </div>
        </div>
    
    </ion-content>
</ion-view>