<ion-view title="'Menu'">
	<ion-content scroll='false'>

		<!-- MENU content -->
		<ion-side-menus>
			<ion-side-menu-content>
				<ion-nav-bar class="bar-positive">
					<ion-nav-back-button>
					</ion-nav-back-button>
					<ion-nav-buttons side="right">
						<button class="button button-icon icon ion-navicon" ng-click="toggleRight()"></button>
					</ion-nav-buttons>
				</ion-nav-bar>

				<ion-nav-view name="menuContent"></ion-nav-view>

			</ion-side-menu-content>

			<ion-side-menu side="right">
				<ion-content scroll="true">
					<ion-list>
						<ion-item ng-repeat="x in items" nav-clear menu-close ng-click="selectItem($index)">
							{{x.name}}
						</ion-item>
						<ion-item ng-show="userType == 'company'" nav-clear menu-close ng-click="loadProfile()">
							{{ 'profile' | translate }}
						</ion-item>

						<ion-item nav-clear menu-close ng-click="loadSettings()">
							{{ 'settings' | translate }}
						</ion-item>
					</ion-list>
				</ion-content>
			</ion-side-menu>

		</ion-side-menus>

	</ion-content>
</ion-view>