<ion-view title="'Login'">
    <ion-content scroll='true'>
    
        <div class="fair-container">
            <h1 class="fair-title">Stands presentes</h1>
            <h4 class="fair-subtitle"> em {{fairStands.name}} </h4>
        </div>
        
        <div class="list stands-list">
            <div ng-repeat="stand in fairStands.stands">
                <a class="item item-thumbnail-left" href="#">
                  <img ng-src="{{stand.logo}}">
                  <h2>{{stand.stand}}</h2>
                  <p>Stand nº {{stand.standNumber}}</p>
                </a>
            </div>
        </div>
    
    </ion-content>
</ion-view>
