<ion-view title="'Profile'">
	<ion-content scroll='true'>

        <span ng-show="profileOwner" class="edit-profile" ng-click="editProfile()"><i class="fa fa-cog fa-2x"></i></span>

        <!--editar o container, botao de opçoes interfere com formataçao-->
        <div class="profile-img-container">
            <img ng-src="{{standProfileInfo.logo}}">
        </div>
        
        <div class="profile-title-container">
            <h4 class="profile-name"> {{standProfileInfo.name}} </h4>
            <a class="stand-website" href="{{standProfileInfo.website}}">{{ 'webpage' | translate }}</a>
        </div>
        
        <div class="card">
          <div class="item item-divider">
            {{ 'info' | translate }}
          </div>
          <div class="item item-text-wrap">
            <p> <b> {{ 'aboutus' | translate }}: </b> {{standProfileInfo.description}} </p>
            <p> <b> {{ 'phone' | translate }}: </b> {{standProfileInfo.phone}} </p>
            <p> <b> {{ 'address' | translate }}: </b> {{standProfileInfo.address}} </p>
          </div>
        </div>
        
        <div class="card">
          <div class="item item-divider">
            {{ 'interests' | translate }}
          </div>
          <div ng-repeat="interest in standProfileInfo.interestsList" class="item">
            <p><span class="ion-android-radio-button-on"> {{interest.name}} </span> </p>
          </div>
        </div>
        
        <!--<div class="profile-btn-Container-1">-->
            <!--<button nav-clear class="myBtn button button-clear button-outline button-positive">-->
                <!--{{ 'btnRecomendedStands' | translate }} -->
            <!--</button>-->
        <!--</div>-->
        <div class="profile-btn-Container">
            <button nav-clear class="save-contact-btn button button-balanced">
                {{ 'btnStandEvents' | translate }} 
            </button>
        </div> 
        <div class="profile-btn-Container-2">
            <button ng-click="saveContact()" class="save-contact-btn button button button-calm">
                {{ 'saveContact' | translate }} 
            </button>
        </div>
             
    </ion-content>
</ion-view>
        