<ion-view title="'Profile'">
	<ion-content scroll='true' ng-init="loadProfile('nown')">

        <!--editar o container, botao de opçoes interfere com formataçao-->
        <div class="other-profile-img-container">
            <img no-image class="fair-map" ng-src="{{standProfileInfo.logo}}"/>
        </div>
        
        <div class="profile-title-container">
            <h4 class="profile-name"> {{standProfileInfo[1].companyName}} </h4>
            <a class="stand-website" ng-show="{{existsWebsite}}" href="{{standProfileInfo[1].website}}" ng-click="incrementCounter(standProfileInfo.id)">{{ 'webpage' | translate }}</a>
        </div>
        
        <div class="card">
          <div class="item item-divider">
            {{ 'info' | translate }}
          </div>
          <div class="item item-text-wrap">
            <p> <b> {{ 'aboutus' | translate }}: </b> {{standProfileInfo[0].description || 'lackInfoCompany' | translate}} </p>
            <p> <b> {{ 'phone' | translate }}: </b> {{standProfileInfo[0].contact || 'lackInfoCompany' | translate}} </p>
            <p> <b> {{ 'address' | translate }}: </b> {{standProfileInfo[1].address || 'lackInfoCompany' | translate}} </p>
          </div>
        </div>

        <div class="card">
          <div class="item item-divider">
            {{ 'interests' | translate }}
          </div>
          <div ng-repeat="interest in standProfileInfo.interestsList" class="item">
            <p><span class="ion-android-radio-button-on"> {{interest.name}} </span> </p>
          </div>
        </div>

        <!--<div class="profile-btn-Container-1">-->
            <!--<button nav-clear class="myBtn button button-clear button-outline button-positive">-->
                <!--{{ 'btnRecomendedStands' | translate }} -->
            <!--</button>-->
        <!--</div>-->

        <div class="profile-btn-Container">
            <button nav-clear class="save-contact-btn button button-balanced">
                {{ 'btnStandEvents' | translate }} 
            </button>
        </div> 
        <div class="profile-btn-Container-2">
            <button ng-click="saveContact()" class="save-contact-btn button button button-calm">
                {{ 'saveContact' | translate }} 
            </button>
        </div>
             
    </ion-content>
</ion-view>
