<ion-view title="'searchFairs'">
    <ion-content scroll='true'>

        <div class="searchFaris-logo-container">
            <div class="searchFairs-container1">
                <div class="searchFairs-logo item-image">
                    <img src="img/livefair.png">
                </div>
            </div>
        </div>

        <div class="fair-search-button-container">
            <button class="fair-search-button button button-light">
                {{ 'upcomingFairs' | translate}}
            </button>

            <button class="button button-calm button-Recente pull-right fair-search-options-button" ng-click="sortFairsByDate()" ng-class="{active : sortOption === 2}">
                <strong>{{ 'sortByDate' | translate }}</strong>
            </button>

            <button class="button button-calm button-AZ pull-right fair-search-options-button" ng-click="sortFairsByName()" ng-class="{active : sortOption === 1}">
                <strong>A-Z</strong>
            </button>

            <button class="button button-calm button-Recente pull-right fair-search-options-button" ng-click="resetSort()">
                <strong>{{ 'clean' | translate }}</strong>
            </button>
        </div>

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="{{ 'name' | translate }}" ng-model="searchName">
            </label>
            <label class="item-input-wrapper left-search-btn">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="{{ 'searchLocation' | translate }}" ng-model="searchLocation">
            </label>
            <button nav-clear ng-click="filterByDate()" class="button button-clear">
                <i class="icon ion-calendar"></i>
            </button>
        </div>

        <div ng-show="failedToResolve">
            <br><br>
            <div class="card">
                <div class="item item-assertive item-placeholder item-text-wrap text-center">
                    {{ 'failedToResolve' | translate }}
                </div>
            </div>
        </div>

        <div class="card" ng-show="(results.length == 0 || !listfairs.length) && !failedToResolve">
            <div class="item item-positive item-placeholder item-text-wrap text-center">
                {{ 'noLiveFairs' | translate }}
            </div>
        </div>

        <div class="list list-fair-container">

            <div class="item item-text-wrap" ng-repeat="fair in listfairs | filter: {name: searchName, location: searchLocation} as results" ng-click="loadFair(fair.liveFairID)">
                <!--para adicionar avatar: item-avatar-->
                <!--<img src="http://upload.wikimedia.org/wikipedia/en/thumb/9/97/San_Diego_Comic-Con_International_logo.svg/829px-San_Diego_Comic-Con_International_logo.svg.png">-->
                <div>
                    <p><strong style="color: darkblue;">{{fair.name}}</strong><strong class="positive" style="float: right;">{{fair.date | date:'dd/MM'}} - {{fair.date | date:'dd/MM/yy'}}</strong></p>

                    <!--<p class=""><b>{{fair.date | date:'dd-MM-yyyy'}} - {{fair.date | date:'dd-MM-yyyy'}}<br></b>-->
                    <p class="text-right calm"><strong class="calm">{{fair.location}}</strong></p>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>