<ion-view title="{{'standProgram' | translate}}">
    <ion-content scroll='true'>

        <div class="program-container">
            <div class="program-title-container" ng-hide="failedToResolve">
                <h3 class="program-subtitle"> {{fair.name}} </h3>
                <h4 class="program-title">{{ 'eventsForCompany' | translate }}<br>{{companyName}}</h4>
            </div>

            <div ng-show="failedToResolve">
                <br>
                <div class="card">
                    <div class="item item-assertive item-placeholder item-text-wrap text-center">
                        {{ 'failedToResolve' | translate }}
                    </div>
                </div>
            </div>

            <div class="card" ng-hide="scheduleDays.length || failedToResolve">
                <div class="item item-positive item-placeholder item-text-wrap text-center">
                    {{ 'noEvents' | translate }}
                </div>
            </div>

            <ion-refresher pulling-text="Pull to refresh" on-refresh="reloadProgram()">
            </ion-refresher>
            <div class="item item-input item-select item-positive padding" style="padding-left: 2%;" ng-hide="!scheduleDays.length || failedToResolve">
                <button class="button button-icon button-calm icon ion-trash-a" ng-click="showDelete = !showDelete;" ng-show="showDeleteButton"></button>
                <div class="input-label">
                    {{ 'programDay' | translate }}
                </div>
                <select ng-model="selectedDay">
                    <option ng-repeat="day in scheduleDays" value="{{day}}">{{day | date:'dd-MM-yyyy'}}</option>
                </select>
            </div>
            <ion-list ng-hide="!scheduleDays.length || failedToResolve" show-delete="showDelete">
                <div ng-repeat = "eventTime in scheduleOrganizedByDay[selectedDay]">
                    <ion-item class="item item-divider event-time item-borderless">
                        <strong>{{eventTime.eventTime | date:'HH:mm'}}</strong>
                    </ion-item>
                    <ion-item class="item item-text-wrap" ng-click="loadEvent(fair.name, event)" ng-repeat="event in eventTime.eventTimeEvents">
                        {{event.subject}}
                        <ion-delete-button class="ion-trash-a" ng-click="removeStandEvent(event.companyEventsID)">
                        </ion-delete-button>
                    </ion-item>
                </div>
            </ion-list>

            <script id="eventPopup.html" type="text/ng-template">
                <div class="list card item-text-wrap">

                    <div class="item item-divider item-text-wrap">
                        <h2>{{liveFairCompanyEvent.subject}}</h2>
                    </div>

                    <div class="item item-body">
                        <p>
                            <strong>{{ 'date' | translate }}:</strong>
                            <span class="event-info">{{liveFairCompanyEvent.startTime | date:'dd-MM-yyyy'}}</span>
                        </p>
                        <p>
                            <strong>{{ 'starting' | translate }}:</strong>
                            <span class="event-info">{{liveFairCompanyEvent.startTime | date:'HH:mm'}}</span>
                        </p>
                        <p>
                            <strong>{{ 'ending' | translate }}:</strong>
                            <span class="event-info">{{liveFairCompanyEvent.endTime | date:'HH:mm'}}</span>
                        </p>
                        <p>
                            <strong>{{ 'place' | translate }}:</strong>
                        <p>{{liveFairCompanyEvent.location}}</p>
                        </p>
                        <p>
                            <strong>{{ 'speakers' | translate }}:</strong>
                        <p>{{liveFairCompanyEvent.speakers}}</p>
                        </p>
                    </div>
                </div>
            </script>
        </div>

    </ion-content>
</ion-view>