<div class="list" ng-controller="profileCtrl">
    <label class="item item-input">
        <i class="form-icon ion-help-circled placeholder-icon"></i>
        <input type="password" ng-model="oldPassword" placeholder="{{ 'oldPassword' | translate }}">
    </label>            
    <label class="item item-input">
        <i class="form-icon ion-help-circled placeholder-icon"></i>
        <input type="password" ng-model="newPassword" placeholder="{{ 'newPassword' | translate }}">
    </label>
    <label class="item item-input">
        <i class="form-icon ion-help-circled placeholder-icon"></i>
        <input type="password" ng-model="confirmNewPassword" placeholder="{{ 'confPassword' | translate }}">
    </label>              
</div>