<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top  blue-navbar" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/livefairs"> <img style="max-width:40px; margin-top: -7px; border:3px solid white;" src="images\LiveFair.jpg" ></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="#/livefairs">My Live Fairs</a>
				</li>
			</ul >
			<ul class="nav navbar-nav navbar-right"><li class="dropdown" >
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{username}} <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a ng-click="logout()">Logout</a></li>
				</ul>
			</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>	
<!-- Page Content -->
<div class="container">
	<!-- Page Heading -->
	<div class="row page-header">
		<div class="col-lg-12 top-5">
			<h1> {{fair.name}} <h1>
			</div>
		</div>
		<!-- /.row -->

		<!-- Projects Row -->
		<div class="row">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading"><h4>Empresas</h4>
				</div>


				<!-- Table -->
				<table class="table table-striped table-bordered">
					<tr>
						<th>Nome<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></th>
						<th>Morada<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></th>
						<th>Email<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></th>
						<th>Website<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></th>
						<th>Visitantes<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></th>
						<th>Estado<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></th>
						<th>Editar<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></th>
					</tr>
					<tr ng-repeat="company in fairCompanies">
						<td>{{company.companyName}}</td>
						<td>{{company.address}}</td>
						<td>{{companies[$index][0].email}}</td>
						<td><a ng-href="{{company.website}}" target="_blank">{{company.website}}<a></td>
						<td>{{company.visitorCounter}}</td>
						<td ng-if="!checkBlocked(companies[$index][0].blocked)">
							<button type="button" class="btn btn-success btn-xs" aria-label="Left Align" ng-click="changeState(companies[$index][0].userID,companies[$index][0].blocked)">Activo</button>
						</td>
						<td ng-if="checkBlocked(companies[$index][0].blocked)">
							<button type="button" class="btn btn-danger btn-xs" aria-label="Left Align" ng-click="changeState(companies[$index][0].userID,companies[$index][0].blocked)">Inactivo</button>
						</td>
						<td ng-controller="CompanieController">
						<button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
  							<span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="open(company,companies[$index][0])"></span>
						</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- /.row -->	

		 <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <h4 class="modal-title">Editar {{companie.companyName}}</h4>
                    </div>
                    <div class="modal-body">
                           	<form>
						<div class="row">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon"><span class=" glyphicon glyphicon-tag"></span></span>
									<input type="text" class="form-control" ng-model="companie.companyName">
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon"><span class=" glyphicon glyphicon-envelope"></span></span>
									<input type="text" class="form-control" ng-model="companie.address">
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon"><span class=" glyphicon glyphicon-envelope"></span></span>
									<input type="text" class="form-control" ng-model="companie.website">
								</div>
							</div>
						</div>
							<br>
						<div class="row">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon"><span class=" glyphicon glyphicon-envelope"></span></span>
									<input type="text" class="form-control" ng-model="companies.contact">
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<textarea  type="textarea" class="form-control" ng-model="companies.description"></textarea>
								</div>
							</div>
						</div>
						</form>
                    </div>
                    <div class="modal-footer">
                    	<button type="button" class="btn btn-danger" ng-click="cancel()">Cancelar</button>
							<button type="button" class="btn btn-success" ng-controller="fairCompaniesCtrl" ng-click="editComp(companie)">Editar</button>
                    </div>
        </script>

		<hr>

		<!-- Pagination -->
		<div class="row text-center">
			<div class="col-lg-12">
				<ul class="pagination">
					<li>
						<a href="#">&laquo;</a>
					</li>
					<li class="active">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">&raquo;</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.row -->

		<hr>
		<!-- Footer -->
		<footer>
			<div class="row text-center">
				<div class="col-lg-12">
					<img class="img-footer" src="images\LiveFair.jpg" alt="" width="80" height="60">
					<img class="img-footer left-5" src="images\Lettuce.jpg" alt="" width="60" height="60">
				</div>
			</div>
			<!-- /.row -->
		</footer>
