<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top  blue-navbar" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/livefairs"> <img style="max-width:40px; margin-top: -7px; border:3px solid white;" src="images\LiveFair.jpg" ></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a href="#/livefairs">My Live Fairs</a>
				</li>
			</ul >
			<ul class="nav navbar-nav navbar-right"><li class="dropdown" >
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{username}} <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a ng-click="logout()">Logout</a></li>
				</ul>
			</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
<!-- Page Content -->

<div class="container">
	<!-- Page Heading -->

	
	<div class="row page-header">
			<div class="col-lg-3">
			</div>
		<div class="col-lg-6 text-center">
			<div class="btn-group top-5" data-toggle="buttons">
				<label  class="btn btn-primary">
					<input type="radio" ng-click="loadPastFairs()" /> Past Fairs
				</label> 
				<label  class="btn btn-primary">
					<input type="radio" ng-click="loadCurrentFairs()"/> Current Fairs
				</label> 
				<label  class="btn btn-primary">
					<input type="radio" ng-click="loadNextFairs()" /> Next Fairs
				</label> 
				<button class="btn btn-success" data-toggle="modal" data-target="#newFairModal">New Fair</button>
			</div>
		</div>
		<div class="col-lg-3 top-5">
			</div>
	</div>
	<!-- /.row -->

	<!-- Projects Row -->
	<div class="row">
		<div class="col-md-3 portfolio-item" ng-repeat="fair in listfairs">
			<div class="panel panel-primary">
				<!-- Default panel contents -->
				<div class="panel-heading" data-toggle="collapse" data-target="#collapseExample{{fair.liveFairID}}" aria-expanded="false" aria-controls="collapseExample{{fair.liveFairID}}">{{fair.name}}</div>	    				
				<div class="panel-body collapse" id="collapseExample{{fair.liveFairID}}">
					<div>
						<p><b>Data:</b>{{fair.startDate | date:'dd-MM-yyyy'}} - {{fair.endDate | date:'dd-MM-yyyy'}}</p>
						<p><b>Local:</b>{{fair.local}} - {{fair.address}}</p>
						<p><b>Descrição:</b> {{fair.description}}</p>
						<div class="text-center">
							<div class="btn-group" >
								<button class="btn btn-primary btn-xs"   ng-click="loadFairVisitors(fair.liveFairID)">Visitantes</button>
								<button class="btn btn-primary btn-xs"   ng-click="loadFairProgram(fair.liveFairID)">Programa</button>
								<button class="btn btn-primary btn-xs"  ng-click="loadFairCompanies(fair.liveFairID)">Empresas</button>
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<!-- /.row -->


	<div class="modal fade" id="newFairModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Nova Live Fair</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon"><span class=" glyphicon glyphicon-tag"></span></span>
									<input type="text" class="form-control" placeholder="Nome da Live Fair" ng-model="name">
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon"><span class=" glyphicon glyphicon-envelope"></span></span>
									<input type="text" class="form-control" placeholder="Morada da Live Fair" ng-model="address">
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-lg-6">
								<div class="input-group">
									<span class="input-group-addon"><span class=" glyphicon glyphicon-star"></span></span>
									<input type="text" class="form-control" placeholder="Local da Live Fair" ng-model="local">
								</div>
								<div class="input-group">
									<span class="input-group-addon"><span class=" glyphicon glyphicon-home"></span></span>
									<input type="text" class="form-control" placeholder="Cidade da Live Fair" ng-model="city">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="input-group">
									<span class="input-group-addon"><span class=" glyphicon glyphicon-calendar"></span></span>
									<input placeholder="Data Início" type="text" onfocus="(this.type='datetime-local')" onblur="(this.type='text')" class="form-control" ng-model="sdate">
									<input placeholder="Data Fim" type="text" onfocus="(this.type='datetime-local')" onblur="(this.type='text')" class="form-control" ng-model="edate">
								</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<textarea  type="textarea" class="form-control" placeholder="Descrição da Live Fair" ng-model="description"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<input type="text" placeholder="Adicionar Interesses (max 5)" class="form-control inputTags">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="input-group">
									<label for="exampleInputFile">Mapa de Stands</label>
									<input type="file" id="imgInp" fileread="map">
									  <img id="blah" src="" alt="" style="max-width:200px;" />
								</div>
							</div>
						</div>

						<br>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
							<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="newFair(userID)">Criar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<hr>

	<!-- Pagination -->

</div>

<!-- Footer -->
<footer>
	<div class="row text-center">
		<div class="col-lg-12">
			<img class="img-footer" src="images\LiveFair.jpg" alt="" width="80" height="60">
			<img class="img-footer left-5" src="images\Lettuce.jpg" alt="" width="60" height="60">
		</div>
	</div>
	<!-- /.row -->
</footer>
